In [4]:
import psycopg2
from psycopg2 import sql
import yfinance as yf
import pandas as pd
import numpy as np
import datetime

In [5]:
msft = yf.Ticker("MSFT")

In [3]:
msft.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'website': 'https://www.microsoft.com',
 'industry': 'Software - Infrastructure',
 'industryKey': 'software-infrastructure',
 'industryDisp': 'Software - Infrastructure',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 56,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 9276400,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 64,
   'title': 'President & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'totalPay': 3591277,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 51,
   'title': 'Executive VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 3452196,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson B. Althoff',
   'age': 49,
   'title': 'Executive VP & Chief Commercial Officer',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'totalPay': 3355797,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 51,
   'title': 'Executive Vice President of Business Development, Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 2460507,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 56,
   'title': 'Corporate VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James Kevin Scott',
   'age': 51,
   'title': 'Executive VP of AI & CTO',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Vice President of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hossein  Nowbar',
   'title': 'Chief Legal Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Chief Communications Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 2,
 'boardRisk': 5,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 1,
 'governanceEpochDate': 1709251200,
 'compensationAsOfEpochDate': 1703980800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 406.22,
 'open': 403.762,
 'dayLow': 401.26,
 'dayHigh': 405.67,
 'regularMarketPreviousClose': 406.22,
 'regularMarketOpen': 403.762,
 'regularMarketDayLow': 401.26,
 'regularMarketDayHigh': 405.67,
 'dividendRate': 3.0,
 'dividendYield': 0.0074,
 'exDividendDate': 1707868800,
 'payoutRatio': 0.2523,
 'fiveYearAvgDividendYield': 0.97,
 'beta': 0.89,
 'trailingPE': 36.608143,
 'forwardPE': 30.278442,
 'volume': 15998236,
 'regularMarketVolume': 15998236,
 'averageVolume': 23927091,
 'averageVolume10days': 19750950,
 'averageDailyVolume10Day': 19750950,
 'bid': 404.53,
 'ask': 404.83,
 'bidSize': 900,
 'askSize': 900,
 'marketCap': 3005761454080,
 'fiftyTwoWeekLow': 245.73,
 'fiftyTwoWeekHigh': 420.82,
 'priceToSalesTrailing12Months': 13.207319,
 'fiftyDayAverage': 398.6848,
 'twoHundredDayAverage': 355.1288,
 'trailingAnnualDividendRate': 2.86,
 'trailingAnnualDividendYield': 0.0070405197,
 'currency': 'USD',
 'enterpriseValue': 3048767750144,
 'profitMargins': 0.36269,
 'floatShares': 7418919053,
 'sharesOutstanding': 7430439936,
 'sharesShort': 42451775,
 'sharesShortPriorMonth': 51901029,
 'sharesShortPreviousMonthDate': 1705017600,
 'dateShortInterest': 1707955200,
 'sharesPercentSharesOut': 0.0057,
 'heldPercentInsiders': 0.00054000004,
 'heldPercentInstitutions': 0.73832,
 'shortRatio': 1.69,
 'shortPercentOfFloat': 0.0057,
 'impliedSharesOutstanding': 7430439936,
 'bookValue': 32.06,
 'priceToBook': 12.617591,
 'lastFiscalYearEnd': 1688083200,
 'nextFiscalYearEnd': 1719705600,
 'mostRecentQuarter': 1703980800,
 'earningsQuarterlyGrowth': 0.332,
 'netIncomeToCommon': 82541002752,
 'trailingEps': 11.05,
 'forwardEps': 13.36,
 'pegRatio': 2.14,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 13.396,
 'enterpriseToEbitda': 25.744,
 '52WeekChange': 0.5997952,
 'SandP52WeekChange': 0.3288405,
 'lastDividendValue': 0.75,
 'lastDividendDate': 1707868800,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 404.52,
 'targetHighPrice': 546.44,
 'targetLowPrice': 298.1,
 'targetMeanPrice': 456.81,
 'targetMedianPrice': 455.0,
 'recommendationMean': 1.6,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 47,
 'totalCash': 80981999616,
 'totalCashPerShare': 10.899,
 'ebitda': 118427000832,
 'totalDebt': 111358001152,
 'quickRatio': 1.096,
 'currentRatio': 1.218,
 'totalRevenue': 227583000576,
 'debtToEquity': 46.736,
 'revenuePerShare': 30.612,
 'returnOnAssets': 0.1519,
 'returnOnEquity': 0.39174,
 'freeCashflow': 58680999936,
 'operatingCashflow': 102646996992,
 'earningsGrowth': 0.332,
 'revenueGrowth': 0.176,
 'grossMargins': 0.69815004,
 'ebitdaMargins': 0.52037,
 'operatingMargins': 0.43585998,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.06}

In [6]:
# get historical market data
hist = msft.history(period="10y")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-03-13 00:00:00-04:00,32.534251,32.559657,31.873744,32.085445,32169700,0.0,0.0
2014-03-14 00:00:00-04:00,31.882206,32.297138,31.763650,31.924545,27195600,0.0,0.0
2014-03-17 00:00:00-04:00,32.093902,32.525771,32.000753,32.220921,20479600,0.0,0.0
2014-03-18 00:00:00-04:00,32.398748,33.787511,32.364878,33.491127,64063900,0.0,0.0
2014-03-19 00:00:00-04:00,33.423398,33.491140,32.949186,33.254036,35597200,0.0,0.0

In [6]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1710187204,
 'hasPrePostMarketData': True,
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 404.52,
 'chartPreviousClose': 420.55,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EDT',
   'start': 1710144000,
   'end': 1710163800,
   'gmtoffset': -14400},
  'regular': {'timezone': 'EDT',
   'start': 1710163800,
   'end': 1710187200,
   'gmtoffset': -14400},
  'post': {'timezone': 'EDT',
   'start': 1710187200,
   'end': 1710201600,
   'gmtoffset': -14400}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [45]:
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2023-02-15 00:00:00-05:00    0.68
2023-05-17 00:00:00-04:00    0.68
2023-08-16 00:00:00-04:00    0.68
2023-11-15 00:00:00-05:00    0.75
2024-02-14 00:00:00-05:00    0.75
Name: Dividends, Length: 81, dtype: float64

In [44]:
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2023-02-15 00:00:00-05:00       0.68           0.0
2023-05-17 00:00:00-04:00       0.68           0.0
2023-08-16 00:00:00-04:00       0.68           0.0
2023-11-15 00:00:00-05:00       0.75           0.0
2024-02-14 00:00:00-05:00       0.75           0.0

[90 rows x 2 columns]

In [20]:
msft.income_stmt

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Tax Effect Of Unusual Items,-2850000.0,43420000.0,180160797.164637,4760000.0
Tax Rate For Calcs,0.19,0.13,0.138266,0.17
Normalized EBITDA,105155000000.0,99905000000.0,83831000000.0,68395000000.0
Total Unusual Items,-15000000.0,334000000.0,1303000000.0,28000000.0
Total Unusual Items Excluding Goodwill,-15000000.0,334000000.0,1303000000.0,28000000.0
Net Income From Continuing Operation Net Minority Interest,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Reconciled Depreciation,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Reconciled Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0
EBITDA,105140000000.0,100239000000.0,85134000000.0,68423000000.0
EBIT,91279000000.0,85779000000.0,73448000000.0,55627000000.0
Net Interest Income,1026000000.0,31000000.0,-215000000.0,89000000.0
Interest Expense,1968000000.0,2063000000.0,2346000000.0,2591000000.0
Interest Income,2994000000.0,2094000000.0,2131000000.0,2680000000.0
Normalized Income,72373150000.0,72447420000.0,60148160797.164635,44257760000.0
Net Income From Continuing And Discontinued Operation,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Total Expenses,123392000000.0,114887000000.0,98172000000.0,90056000000.0
Total Operating Income As Reported,88523000000.0,83383000000.0,69916000000.0,52959000000.0
Diluted Average Shares,7472000000.0,7540000000.0,7608000000.0,7683000000.0
Basic Average Shares,7446000000.0,7496000000.0,7547000000.0,7610000000.0
Diluted EPS,9.68,9.65,8.05,5.76
Basic EPS,9.72,9.7,8.12,5.82
Diluted NI Availto Com Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Common Stockholders,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Including Noncontrolling Interests,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Net Income Continuous Operations,72361000000.0,72738000000.0,61271000000.0,44281000000.0
Tax Provision,16950000000.0,10978000000.0,9831000000.0,8755000000.0
Pretax Income,89311000000.0,83716000000.0,71102000000.0,53036000000.0
Other Income Expense,-238000000.0,302000000.0,1401000000.0,-12000000.0
Other Non Operating Income Expenses,-223000000.0,-32000000.0,98000000.0,-40000000.0
Special Income Charges,-30000000.0,-101000000.0,-13000000.0,-133000000.0
Write Off,30000000.0,101000000.0,13000000.0,133000000.0
Gain On Sale Of Security,15000000.0,435000000.0,1316000000.0,161000000.0
Net Non Operating Interest Income Expense,1026000000.0,31000000.0,-215000000.0,89000000.0
Interest Expense Non Operating,1968000000.0,2063000000.0,2346000000.0,2591000000.0
Interest Income Non Operating,2994000000.0,2094000000.0,2131000000.0,2680000000.0
Operating Income,88523000000.0,83383000000.0,69916000000.0,52959000000.0
Operating Expense,57529000000.0,52237000000.0,45940000000.0,43978000000.0
Research And Development,27195000000.0,24512000000.0,20716000000.0,19269000000.0
Selling General And Administration,30334000000.0,27725000000.0,25224000000.0,24709000000.0
Selling And Marketing Expense,22759000000.0,21825000000.0,20117000000.0,19598000000.0
General And Administrative Expense,7575000000.0,5900000000.0,5107000000.0,5111000000.0
Other Gand A,7575000000.0,5900000000.0,5107000000.0,5111000000.0
Gross Profit,146052000000.0,135620000000.0,115856000000.0,96937000000.0
Cost Of Revenue,65863000000.0,62650000000.0,52232000000.0,46078000000.0
Total Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0
Operating Revenue,211915000000.0,198270000000.0,168088000000.0,143015000000.0

In [22]:
# - balance sheet
msft.balance_sheet

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Ordinary Shares Number,7432000000.0,7464000000.0,7519000000.0,7571000000.0
Share Issued,7432000000.0,7464000000.0,7519000000.0,7571000000.0
Net Debt,12533000000.0,35850000000.0,43922000000.0,49751000000.0
Total Debt,59965000000.0,61270000000.0,67775000000.0,70998000000.0
Tangible Book Value,128971000000.0,87720000000.0,84477000000.0,67915000000.0
...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,111256000000.0,104749000000.0,130256000000.0,136527000000.0
Other Short Term Investments,76552000000.0,90818000000.0,116032000000.0,122951000000.0
Cash And Cash Equivalents,34704000000.0,13931000000.0,14224000000.0,13576000000.0
Cash Equivalents,26226000000.0,5673000000.0,6952000000.0,7666000000.0
Cash Financial,8478000000.0,8258000000.0,7272000000.0,5910000000.0

In [21]:
# show share count
msft.get_shares_full(start="2022-01-01", end=None)

2022-01-27 00:00:00-05:00    7496869888
2022-02-04 00:00:00-05:00    7800719872
2022-02-05 00:00:00-05:00    7496869888
2022-02-11 00:00:00-05:00    7496869888
2022-03-04 00:00:00-05:00    7605040128
                                ...
2024-03-05 00:00:00-05:00    7440820224
2024-03-06 00:00:00-05:00    7430439936
2024-03-07 00:00:00-05:00    7430439936
2024-03-08 00:00:00-05:00    7430439936
2024-03-09 00:00:00-05:00    7430439936
Length: 139, dtype: int64

In [23]:
# - cash flow statement
msft.cashflow

,2023-06-30,2022-06-30,2021-06-30,2020-06-30
Free Cash Flow,59475000000.0,65149000000.0,56118000000.0,45234000000.0
Repurchase Of Capital Stock,-22245000000.0,-32696000000.0,-27385000000.0,-22968000000.0
Repayment Of Debt,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Issuance Of Debt,NaN,NaN,NaN,0.0
Issuance Of Capital Stock,1866000000.0,1841000000.0,1693000000.0,1343000000.0
Capital Expenditure,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0
End Cash Position,34704000000.0,13931000000.0,14224000000.0,13576000000.0
Beginning Cash Position,13931000000.0,14224000000.0,13576000000.0,11356000000.0
Effect Of Exchange Rate Changes,-194000000.0,-141000000.0,-29000000.0,-201000000.0
Changes In Cash,20967000000.0,-152000000.0,677000000.0,2421000000.0
Financing Cash Flow,-43935000000.0,-58876000000.0,-48486000000.0,-46031000000.0
Cash Flow From Continuing Financing Activities,-43935000000.0,-58876000000.0,-48486000000.0,-46031000000.0
Net Other Financing Charges,-1006000000.0,-863000000.0,-2523000000.0,-3751000000.0
Cash Dividends Paid,-19800000000.0,-18135000000.0,-16521000000.0,-15137000000.0
Common Stock Dividend Paid,-19800000000.0,-18135000000.0,-16521000000.0,-15137000000.0
Net Common Stock Issuance,-20379000000.0,-30855000000.0,-25692000000.0,-21625000000.0
Common Stock Payments,-22245000000.0,-32696000000.0,-27385000000.0,-22968000000.0
Common Stock Issuance,1866000000.0,1841000000.0,1693000000.0,1343000000.0
Net Issuance Payments Of Debt,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Net Short Term Debt Issuance,NaN,NaN,NaN,0.0
Net Long Term Debt Issuance,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Long Term Debt Payments,-2750000000.0,-9023000000.0,-3750000000.0,-5518000000.0
Long Term Debt Issuance,NaN,NaN,NaN,0.0
Investing Cash Flow,-22680000000.0,-30311000000.0,-27577000000.0,-12223000000.0
Cash Flow From Continuing Investing Activities,-22680000000.0,-30311000000.0,-27577000000.0,-12223000000.0
Net Other Investing Changes,-3116000000.0,-2825000000.0,-922000000.0,-1241000000.0
Net Investment Purchase And Sale,10213000000.0,18438000000.0,2876000000.0,6980000000.0
Sale Of Investment,47864000000.0,44894000000.0,65800000000.0,84170000000.0
Purchase Of Investment,-37651000000.0,-26456000000.0,-62924000000.0,-77190000000.0
Net Business Purchase And Sale,-1670000000.0,-22038000000.0,-8909000000.0,-2521000000.0
Purchase Of Business,-1670000000.0,-22038000000.0,-8909000000.0,-2521000000.0
Net PPE Purchase And Sale,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0
Purchase Of PPE,-28107000000.0,-23886000000.0,-20622000000.0,-15441000000.0
Operating Cash Flow,87582000000.0,89035000000.0,76740000000.0,60675000000.0
Cash Flow From Continuing Operating Activities,87582000000.0,89035000000.0,76740000000.0,60675000000.0
Change In Working Capital,-2388000000.0,446000000.0,-936000000.0,-1483000000.0
Change In Other Working Capital,5177000000.0,5805000000.0,2324000000.0,-1419000000.0
Change In Other Current Liabilities,2825000000.0,3169000000.0,5551000000.0,2694000000.0
Change In Other Current Assets,-4824000000.0,-3514000000.0,-4391000000.0,-3367000000.0
Change In Payables And Accrued Expense,-2721000000.0,2943000000.0,2798000000.0,3018000000.0
Change In Payable,-2721000000.0,2943000000.0,2798000000.0,3018000000.0
Change In Account Payable,-2721000000.0,2943000000.0,2798000000.0,3018000000.0
Change In Inventory,1242000000.0,-1123000000.0,-737000000.0,168000000.0
Change In Receivables,-4087000000.0,-6834000000.0,-6481000000.0,-2577000000.0
Changes In Account Receivables,-4087000000.0,-6834000000.0,-6481000000.0,-2577000000.0
Stock Based Compensation,9611000000.0,7502000000.0,6118000000.0,5289000000.0
Deferred Tax,-6059000000.0,-5702000000.0,-150000000.0,11000000.0
Deferred Income Tax,-6059000000.0,-5702000000.0,-150000000.0,11000000.0
Depreciation Amortization Depletion,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Depreciation And Amortization,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Depreciation,13861000000.0,14460000000.0,11686000000.0,12796000000.0
Operating Gains Losses,196000000.0,-409000000.0,-1249000000.0,-219000000.0
Gain Loss On Investment Securities,NaN,NaN,NaN,-219000000.0
Net Income From Continuing Operations,72361000000.0,72738000000.0,61271000000.0,44281000000.0

In [24]:
# show holders
msft.major_holders

Breakdown                          Value
insidersPercentHeld              0.00054
institutionsPercentHeld          0.73832
institutionsFloatPercentHeld     0.73872
institutionsCount             6731.00000

In [30]:
msft.institutional_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Group Inc,0.0879,653247546,222456919314
1,2023-06-30,Blackrock Inc.,0.0722,536245027,182612881494
2,2023-06-30,State Street Corporation,0.0395,293614078,99987338122
3,2023-06-30,"FMR, LLC",0.0283,210111250,71551285075
4,2023-06-30,Price (T.Rowe) Associates Inc,0.0215,159904219,54453782738
5,2023-06-30,"Geode Capital Management, LLC",0.0199,148129470,50444009713
6,2023-06-30,Morgan Stanley,0.0166,123498322,42056118573
7,2023-06-30,JP Morgan Chase & Company,0.0152,113024837,38489477991
8,2022-12-31,Norges Bank Investment Management,0.0116,86316926,20700525193
9,2023-06-30,Capital World Investors,0.0115,85507261,29118642660

In [31]:
msft.mutualfund_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,Vanguard Total Stock Market Index Fund,0.0312,231883087,78965466446
1,2023-06-30,Vanguard 500 Index Fund,0.0238,177034936,60287477105
2,2023-08-31,Fidelity 500 Index Fund,0.0115,85181943,27919233637
3,2023-09-30,SPDR S&P 500 ETF Trust,0.0112,83514381,26369665800
4,2023-09-30,iShares Core S&P 500 ETF,0.0095,70264910,22186145332
5,2023-06-30,Vanguard Growth Index Fund,0.0085,63262454,21543396085
6,2023-08-31,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",0.0079,58757680,19258417196
7,2023-06-30,Vanguard Institutional Index Fund-Institutiona...,0.0068,50756950,17284771753
8,2023-08-31,Vanguard Information Technology Index Fund,0.0053,39119308,12821744390
9,2023-09-30,Growth Fund Of America Inc,0.0053,39310503,12412291322

In [32]:
msft.recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         20   30     4     0           0
2    -2m         20   31     5     0           0
3    -3m         20   27     6     0           0

In [33]:
msft.recommendations_summary

  period  strongBuy  buy  hold  sell  strongSell
0     0m         14   13     6     0           1
1    -1m         20   30     4     0           0
2    -2m         20   31     5     0           0
3    -3m         20   27     6     0           0

In [35]:
a = msft.upgrades_downgrades

In [36]:
a.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 609 entries, 2024-03-06 10:34:07 to 2012-03-16 12:19:00
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Firm       609 non-null    object
 1   ToGrade    609 non-null    object
 2   FromGrade  609 non-null    object
 3   Action     609 non-null    object
dtypes: object(4)
memory usage: 23.8+ KB

In [37]:
a

                               Firm        ToGrade   FromGrade Action
GradeDate
2024-03-06 10:34:07       Jefferies            Buy         Buy   main
2024-03-05 16:10:56     DA Davidson            Buy         Buy   reit
2024-01-31 17:15:31     BMO Capital     Outperform  Outperform   main
2024-01-31 16:41:30     RBC Capital     Outperform  Outperform   main
2024-01-31 14:29:12         Wedbush     Outperform  Outperform   main
...                             ...            ...         ...    ...
2012-04-20 10:18:00   Deutsche Bank            Buy               main
2012-04-03 15:53:00             UBS            Buy               main
2012-03-22 11:03:00  Morgan Stanley     Overweight               main
2012-03-19 18:00:00  Hilliard Lyons  Long-Term Buy               main
2012-03-16 12:19:00  Argus Research            Buy                 up

[609 rows x 4 columns]

In [42]:
a['Action'].value_counts()

Action
main    456
init     44
reit     41
up       38
down     30
Name: count, dtype: int64

In [43]:
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2025-01-28 16:00:00-05:00           NaN           NaN          NaN
2024-10-22 06:00:00-04:00           NaN           NaN          NaN
2024-07-23 06:00:00-04:00           NaN           NaN          NaN
2024-04-23 06:00:00-04:00          2.58           NaN          NaN
2024-01-30 16:00:00-05:00          2.78          2.93       0.0534
2023-10-24 16:00:00-04:00          2.65          2.99       0.1270
2023-07-25 16:00:00-04:00          2.55          2.69       0.0549
2023-04-25 16:00:00-04:00          2.23          2.45       0.0981
2023-01-24 16:00:00-05:00          2.29          2.32       0.0109
2022-10-25 16:00:00-04:00          2.30          2.35       0.0205
2022-07-26 16:00:00-04:00          2.29          2.23      -0.0274
2022-04-26 16:00:00-04:00          2.19          2.22       0.0160